.divClima {
    background-color: #4c5388;
    border-radius: 12px;
    margin: 0px 0;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
   
    
    

}

.divClima p {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 500;
}

.divClima p:first-child {
    font-size: 18px;
    font-weight: bold;
}
