.productosSection {
  width: 80%;
  margin: 20px auto;
}

.productosSection h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}

.productosGrid {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.productoCard {
  width: 220px;
  background-color: hsl(194, 100%, 95%);
  border-radius: 6px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
  text-align: center;
  transition: transform 0.3s ease;
 
}

.productoCard:hover {
  transform: translateY(-4px);
}

.productoCard img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}

.productoCard h3 {
  margin: 10px 0 5px;
  color: #333;
}

.productoCard p {
  font-size: 14px;
  color: #666;
  margin: 0 0 10px;
}

.productoCard button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #4db8ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.productoCard button:hover {
  background: #2da3e6;
}
